# Intellij
*.iml
.idea

# VSCode
.vscode

# npm
node_modules

# build
build/

test-vault/.obsidian/workspace
test-vault/.obsidian/plugins/dataview/*.css
test-vault/.obsidian/plugins/dataview/*.js
test-vault/.obsidian/plugins/dataview/*.json

lib
yarn.lock
