/* List View Default Styling; rendered internally as a table. */
.table-view-table {
    width: 100%;
}

.table-view-table > thead > tr, .table-view-table > tbody > tr {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}

.table-view-table > thead > tr > th {
    font-weight: 700;
    font-size: larger;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid;

    max-width: 100%;
}

.table-view-table > tbody > tr > td {
    text-align: left;
    border: none;
    font-weight: 400;

    max-width: 100%;
}

/** Rendered value styling for any view. */
.dataview-result-list-root-ul {
    padding: 0em !important;
    margin: 0em !important;
}

/** Generic grouping styling. */
.dataview.result-group {
    padding-left: 8px;
}

/** Inline Field Rendering. */

.dataview.inline-field-key {
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
    padding-left: 16px;
    padding-right: 8px;
    font-family: var(--font-monospace);
    background-color: var(--background-primary-alt);
    color: var(--text-nav-selected);
}

.dataview.inline-field-value {
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    padding-left: 8px;
    padding-right: 16px;
    font-family: var(--font-monospace);
    background-color: var(--background-secondary-alt);
    color: var(--text-nav-selected);
}

.dataview.inline-field-standalone-value {
    border-radius: 250px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: var(--font-monospace);
    background-color: var(--background-secondary-alt);
    color: var(--text-nav-selected);
}
