site_name: Dataview
repo_url: https://github.com/blacksmithgu/obsidian-dataview
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
theme:
  name: material
  palette:
    primary: deep purple
  logo: assets/obsidian.png
  favicon: assets/obsidian.png
nav:
  - Introduction: 'intro.md'
  - Pages and Fields: 'where-data-comes-from.md'
  - Creating Queries: 'creating-queries.md'
  - Query Language:
    - Queries: 'query/queries.md'
    - Expressions: 'query/expressions.md'
    - Sources: 'query/sources.md'
    - Functions: 'query/functions.md'
    - Examples: 'query/examples.md'
  - JavaScript API:
    - Overview: 'api/intro.md'
    - Data Arrays: 'api/data-array.md'
    - Codeblock Reference: 'api/code-reference.md'
    - Codeblock Examples: 'api/code-examples.md'
plugins:
  - redirects:
      redirect_maps:
        docs/intro.md: intro.md
        docs/where-data-comes-from.md: where-data-comes-from.md
        docs/creating-queries.md: creating-queries.md
        docs/query/queries.md: query/queries.md
        docs/query/expressions.md: query/expressions.md
        docs/query/sources.md: query/sources.md
        docs/query/functions.md: query/functions.md
        docs/query/examples.md: query/examples.md
        docs/api/intro.md: api/intro.md
        docs/api/data-array.md: api/data-array.md
        docs/api/code-reference.md: api/code-reference.md
        docs/api/code-examples.md: api/code-examples.md
