site_name: Dataview
repo_url: https://github.com/blacksmithgu/obsidian-dataview
edit_uri: edit/master/docs/docs/
markdown_extensions:
  - abbr
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist
theme:
  name: material
  palette:
    primary: deep purple
  logo: assets/obsidian.png
  favicon: assets/obsidian.png
  custom_dir: overrides
nav:
  - Overview: 'index.md'
  - Data Annotation: 'data-annotation.md'
  - Data Querying: 'data-queries.md'
  - Query Language Reference:
    - Queries: 'query/queries.md'
    - Expressions: 'query/expressions.md'
    - Literals: 'query/literals.md'
    - Sources: 'query/sources.md'
    - Functions: 'query/functions.md'
    - Examples: 'query/examples.md'
    - Frequently Asked Questions: 'query/faq.md'
  - JavaScript Reference:
    - Overview: 'api/intro.md'
    - Data Arrays: 'api/data-array.md'
    - Codeblock Reference: 'api/code-reference.md'
    - Codeblock Examples: 'api/code-examples.md'
  - Plugin Developers:
    - Developing Against Dataview: 'plugin/develop-against-dataview.md'
  - Friends of Dataview: 'friends.md'
  - Changelog: 'changelog.md'
plugins:
  - search
  - redirects:
      redirect_maps:
        docs/where-data-comes-from.md: data-annotation.md
        docs/creating-queries.md: data-queries.md
        docs/query/queries.md: query/queries.md
        docs/query/expressions.md: query/expressions.md
        docs/query/sources.md: query/sources.md
        docs/query/functions.md: query/functions.md
        docs/query/examples.md: query/examples.md
        docs/api/intro.md: api/intro.md
        docs/api/data-array.md: api/data-array.md
        docs/api/code-reference.md: api/code-reference.md
        docs/api/code-examples.md: api/code-examples.md
